.banner{
    background: var(--cor-lista-menu__degrade);
    color: var(--cor-fundo-cabecalho);
    text-align: center;
    padding:2.5em 0em;
    width: 100%;

}



.banner__titulo{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom:0.5em ;
}

.banner__texto{
    font-weight: 500;
    padding-bottom: 1.5em;
    width:73.83%;
    padding-left: 12.61%;
}

.banner__pesquisa{
    background-color: transparent;
    border-radius: 1.5em;
    padding: 0.8em 4.125em;
    /* width: 23.75em; */
    width: 88.78%;

    border: 1px solid var(--cor-fundo-cabecalho);
    font-size: 0.875rem ;
    color: var(--cor-fundo-cabecalho);
    font-weight: 400;
    font-style: normal;
}
.banner__pesquisa::placeholder{
    font-family: var(--font-principal);
    color: var(--cor-fundo-cabecalho);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    padding-left: 2.125em;
    background: url("../Assets/lupa.svg") no-repeat;

}

.banner__pesquisa:focus{
    border-color: var(--cor-fundo-cabecalho);
    outline: none; 
}

.banner__pesquisa:focus::placeholder {
    color:transparent;
    background: transparent;
    box-shadow: none;

  }



   @media screen and (min-width:1024px) {
    .banner__titulo{
        font-size: 2.25rem;
        font-weight: 700;
        padding-bottom: 0px;
        /* padding: 5.25em 16em 0 16em; */
     }

    .banner__pesquisa{
        width: 46.48%;
        padding-top: 1em;
        padding-bottom: 1em; 
    }
    .banner{
        padding: 5em 0;
    }
} 
  

  @media  screen and (min-width:1728px) {
    .banner__pesquisa{
        width:35%;
    }
    .banner__pesquisa::placeholder{
        background-position: 8em ;
    }
    .banner{
        padding: 5em 0;
    }
  }


